.Menu
{
    font-family: 'Montserrat', sans-serif;
    display: block;
    height: 40px;
    background-color: #F0F0F0;
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 0.95;
}
li
{
    display: inline-block;
}
.Home
{
    position: relative;
    cursor: pointer;
    top: 6px;
    left: 10px;
}
.Logo
{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 3.5px;
}
.Nombre
{
    font-size: 18px;
    display: inline;
}
.Nombre2
{
    font-size: 10px;
    font-weight: bold;
    display: inline;
    position: absolute;
}
.Ubica
{
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 6px;
    left: 40px;
}
.Ubica1
{
    width: 15px;
    height: 15px;
}
.Ubica2
{
    font-weight: bold;
    display: inline-block;
}




.Seccion
{
    display: flex;
    background-color: #FFC400;
    height: 250px;
}
.Frase
{
    font-family: 'Belleza', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    margin: auto;
}





/*articles*/
.grid_block{
    display: grid;
    grid-template-columns: repeat(4,23%);
    justify-content: space-between;
    margin: 3rem 4rem;
    row-gap: 4.5rem;
}
.grid_item{
    display: flex;
    flex-direction: column;
}
.food_image{
    width: 100%;
    max-width: 25rem;
    height: 100%;
    max-height: 25rem;
    align-self: center;
    
}
.food_header{
    display: flex;
    justify-content: space-around;
    font-size: 2.7rem;
}
.food_price{
    font-weight: 900;
}
.food_description{
    text-align: center;
    font-weight: 100;
}
@media screen and (max-width: 1080px ) {
 .grid_block{
    grid-template-columns: repeat(3,33%);
 }
}
@media screen and (max-width:740px){
 .grid_block{
    grid-template-columns: repeat(2,49%);
 }
}
