
a
{
	font-family: 'Montserrat', sans-serif;
	color: #8CB41E;
	font-size: 18px
}
h2
{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 18px;
	text-align: left
}
h3
{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 18px;
	text-align: center
}
p
{
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
.Menu
{
	font-family: 'Montserrat', sans-serif;
	display: block;
	height: 40px;
	background-color: #F0F0F0;
	position: sticky;
	top: 0;
	z-index: 100;
	opacity: 0.95;
}

li
{
	display: inline-block;
}

.Home
{
	position: relative;
	cursor: pointer;
	top: 6px;
	left: 10px;
}

.logo
{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 3.5px;
}

.Nombre
{
	font-size: 18px;
	color: Black;
	display: inline;
}

.Nombre2
{
	font-size: 10px;
	font-weight: bold;
	display: inline;
	position: absolute;
}




.Seccion
{
	display: flex;
	background-color: #FFC400;
	height: 250px;
}
.Frase
{
	font-family: 'Belleza', sans-serif;
	font-size: 60px;
	font-weight: lighter;
	margin: auto;
}





.posicion {
	display: flex;
	max-width: 1200px;
	position : center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 18px;
}


.imagen{
	flex: 1;
	display: flex;
	padding: 18px;
	width: 100%;
	min-width: 150px;
	max-width: 400px;
}



.formulario{
	min-width: 300px;
	max-width: 600px;
	flex: 2;
	text-align: center;
	padding: 18px;
}



.entradas{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	padding: 18px;
	margin: 18px 0;
	border: none;
	border-bottom: 4px solid #FF7A0E;
	background: transparent;
	color: #000000;
}
.entradas:focus {
	background: linear-gradient(to bottom, transparent, #CFCFCF);
	outline: none;
	border-bottom: 4px solid #FF9948;
}



.formulario input[type="submit"] {
	background: #FF7A0E;
	color:  White;
	text-align: center;
	border-radius: 25px;
	padding: 18px;
	width: 160px;
}
.formulario input[type="submit"]:hover {
	background: #FF9540;
	color:  White;
	text-align: center;
	border-radius: 25px;
	padding: 18px;
	width: 160px;
}
.formulario input[type="submit"]:focus {
	background: #FCA35C;
}
.formulario input[type="submit"]:active {
	background: linear-gradient(to bottom, #FF9540, #FF7100);
}



.formulario input[type="button"] {
	background: #1E1E1E;
	border: 4px solid #FFFFFF;
	padding: 16px;

}
.formulario input[type="button"]:hover {
	background: #404040;
	border: 4px solid #FFFFFF;
	padding: 16px;
}
.formulario input[type="button"]:focus {
	background: #404040;
}
.formulario input[type="button"]:active {
	background: linear-gradient(to bottom, #1E1E1E, #404040);
}



.caja {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	width: 50% ;
	margin: 16px 0;
    color: #000000;
    background-color: #FFFFFF;
    border: 4px solid #FF8000;
    padding: 16px;
}


footer
{
	position: relative;
	background-color: #FF8000;
	display: block;
	text-align: center;
}
.Pie
{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	position: relative;
	display: inline-block;
}