  /*----------------------------------*/
 /*        SELECTOR SUPERIOR         */
/*----------------------------------*/
.Menu
{
	font-family: 'Montserrat', sans-serif;
	display: block;
	height: 40px;
	background-color: #F0F0F0;
	position: sticky;
	top: 0;
	z-index: 100;
	opacity: 0.95;
}
li
{
	display: inline-block;
}
.Home
{
	position: relative;
	cursor: pointer;
	top: 6px;
	left: 10px;
}
.Logo
{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 3.5px;
}
.Nombre
{
	font-size: 18px;
	display: inline;
}
.Nombre2
{
	font-size: 10px;
	font-weight: bold;
	display: inline;
	position: absolute;
}
.Botones
{
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 10px;
}
.Boton
{
	background-color: #FFF;
	border: 2px solid #FF8000;
	font-weight: bold;
	padding: 3px;
	cursor: pointer;
	border-radius: 3px;
	margin: auto;
}
.Boton:hover
{
	background-color: #FEFEFE;
	border: 2.5px solid #FFA010;
	padding: 2.5px;
}



.Contenedor
{
	display: flex;
	flex-direction: column;
	margin: 30px;
}
.Registro
{
	margin: auto;
	background-color: #86A923;
	color: #F0F0F0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: 2px solid #000;
}
.Registro p
{
	display: inline-block;
	
	width: 120px;
	padding: 4px;
}
.Encabezado
{
	color: #1A1A1A;
	font-weight: bolder;
	background-color: #759812;
}

  /*-------------------------------------------*/
 /*               PIE DE PÁGINA               */
/*-------------------------------------------*/
footer
{
	position: relative;
	background-color: #FF8000;
	display: block;
	text-align: center;
}
.Pie
{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	position: relative;
	display: inline-block;
}

.posicion {
	display: flex;
	max-width: 800px;
	position : center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 18px;
}

.entradas{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	width: 80%;
	padding: 18px;
	margin: 18px 0;
	border: none;
	border-bottom: 4px solid #FF7A0E;
	background: transparent;
	color: #000000;
}
.entradas:focus {
	background: linear-gradient(to bottom, transparent, #CFCFCF);
	outline: none;
	border-bottom: 4px solid #FF9948;
}

.formulario{
	min-width: 300px;
	max-width: 300px;
	flex: 2;
	text-align: center;
	padding: 18px;
}

.formulario input[type="submit"] {
	background: #FF7A0E;
	color:  White;
	text-align: center;
	border-radius: 25px;
	padding: 18px;
	width: 160px;
}
.formulario input[type="submit"]:hover {
	background: #FF9540;
	color:  White;
	text-align: center;
	border-radius: 25px;
	padding: 18px;
	width: 160px;
}
.formulario input[type="submit"]:focus {
	background: #FCA35C;
}
.formulario input[type="submit"]:active {
	background: linear-gradient(to bottom, #FF9540, #FF7100);
}
.Seccion
{
	display: flex;
	background-color: #FFC400;
	height: 250px;
}
.Frase
{
	margin: auto;
	display: block;
	font-family: 'Belleza', sans-serif;
	font-size: 60px;
	font-weight: lighter;
}


.formulario input[type="radio"] {
	display: none;
}

.formulario input[type="radio"]:checked + label {
	padding: 5px 25px;
	background: #FF9540;
	border-radius: 25px;
	color:  white;
}

.formulario input[type="radio"]:checked + label:before {
	display: none;
}

.formulario .radio label{
	color: black;
	padding: 5px 30px 5px 51px;
	display: inline-block;
	position: relative;
	font-size: 18px;
	border-radius: 25px;
	cursor: pointer;
	-webkit-transition:all 0.3s ease;
	-o-transition:all 0.3s ease ;
	transition:all 0.3s ease ;
}

.formulario .radio label:hover{
	background-color: #FF9540;
}

.formulario .radio label:before{
	content: "";
	width: 17px;
	height: 17px;
	display: inline-block;
	background-color: none;
	border: 3px solid black;
	border-radius: 50%;
	position: absolute;
	left: 17px;
	top: 4px;

}